body {
  /* background-color: #FFD78A; */
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  margin: 0 auto;
  padding-top: 50px; 
}
.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 300px;
  border:1px solid red;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.main_title {
  text-align: center;
}
.player_fig_circle {
  width: 150px;
  height: 150px;
  background: #000;
  border-radius: 150px;
}
.btn img {
  width: 40px;
}
.player_btn {
padding-top: 30px;
margin-bottom: 30px;
}
.prev img {
  transform: rotate(180deg);
}
.progress {
  background: rgb(9, 211, 247);
  width: 150px;
  height: 6px;
}
.player_progres {
  background: #ccc;
  width: 100%;
}

@keyframes rotate {
  0%{
     transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

.activ {
  animation: rotate 3s linear infinite;
}
.d_none {
  display: none;
}
.player_song_title {
  text-align: center;
  
}